.bardash-wrapper {
    width: 100%;
    position: relative;
    height: 200px;
    .bar {
        position: absolute;
        background: orange;
        bottom: 0;
    }
    .dash {
        background: green;
        position: absolute;
        top: 100%;
        height: 4px;
    }
}